@import "tailwindcss";

body {
  background-color: #111;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.neon {
  box-shadow: 0 0 5px white;
}

.neon-azul {
  box-shadow: 0 0 10px rgb(53, 53, 255);
}

.neon-rosa {
  box-shadow: 0 0 10px rgb(255, 54, 87);
}